/* Estilo del título */
.RegistroEquipo-wrapper .title {
    display: flex; /* Muestra los elementos como una fila flexible */
    justify-content: center; /* Distribuye el espacio entre los elementos */
    margin-bottom: -10px; /* Margen inferior negativo */
}

.RegistroEquipo-wrapper .container-button {
    padding: 30px 200px;
    font-size: 16px;
    text-align: center;
    display: flex; /* Usa flexbox para alinear los botones horizontalmente */
    justify-content: space-between; /* Distribuye los botones uniformemente */
}

.RegistroEquipo-wrapper button {
    width: 125%;
    height: 45px;
    background: burlywood;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-bottom: -20px;
}

.RegistroEquipo-wrapper table {
    width: 1100px;
    color: black;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

.RegistroEquipo-wrapper thead {
    background: burlywood;
}

.RegistroEquipo-wrapper th {
    padding: 20px 15px;
    font-weight: 1100;
    text-transform: uppercase;
}

.RegistroEquipo-wrapper td {
    padding: 15px;
    border-bottom: solid 1px black;
}

.RegistroEquipo-wrapper tbody tr {
    cursor: pointer;
}

.RegistroEquipo-wrapper tbody tr:hover {
    background: rgba(23, 32, 42, .2);
}

